.main_container {
  display: flex;
  justify-content: center;
}

.side_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10px;
}

.score,
.operation,
.next_container {
  display: flex;
  flex-direction: column;
  background-color: beige;
}


.next_container {
  height: 100px;
}

.next_tetromino_box {
  display: grid;
  justify-content: center;
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(20, 20px);
  grid-template-columns: repeat(10, 20px);
  gap: 1px;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: lightgray;
}

/* .filled {
  background-color: aqua;
} */